.privacy-container {
    max-width: 150vh;
    margin: 0 auto;
    padding: 20px;
    margin-top: 3rem;
    margin-bottom: 6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    line-height: 2;
}

.privacy-container h2 {
    font-size: 18px;
    margin-top: 20px;
}

.privacy-container p {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 2;
}

.privacy-container ul {
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 15px;
}

.privacy-container a {
    color: #007bff;
    text-decoration: none;
}


.all-privacy-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
}

.button-container {
    display: flex;
    align-items: center;
  }
  
  .button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .button:focus{
      outline: none;
  }
  .selected {
    position: relative;
  }
  
  .selected::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #592ac5;
    transition: width 0.3s; 
    border: none;
  }

  .button:nth-child(2).selected::after {
    width: 100%; /* Set the width to 100% for the second button when selected */
  }
  
.terms-container{
    margin-top: 7rem;
}